<div class="row">
  <div class="col-3">

  </div>
  <div class="shade col-5 rounder">
    <h2>Edit Artifact</h2>

    <%= simple_form_for @artifact, url: event_artifact_path do |f| %>
    <%= f.input :comment %>
    <%= f.input :video %>
    <%= f.submit %>
    <% end %>
  </div>
</div>