<br />
<div>
  <h1 class="value center">Sorry, you must add both a <span class="blue">comment</span> and a <span class="blue">video</span>.</h1>
  <h1 class="value center">Don't be afraid, your family wants to see you!</h1>
</br>
</div>

<div class="center2">
<%= link_to 'Go Back', event_path(@event), class: 'links btn btn-outline-primary' %>
</div>